@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Hello!</h3>
<p>
    This project has been started and more information will be available as the project progresses.
    
    The backlog for the project is extensive and will encompass a whole range of features designed to make your life easier when it comes to SCRUM project management.
</p>
