
<ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none">
    <li><a tabindex="-1" href="#" class="context-details"><i class="fa fa-folder-o context-menu-icon"></i>Details</a></li>
    <li><a tabindex="-1" href="#" class="context-edit"><i class="fa fa-pencil-square-o context-menu-icon"></i>Edit Item</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#" class="context-remove-item"><i class="fa fa-times context-menu-icon"></i>Remove Backlog Item</a></li>
</ul>